.sc-enabled *[class^='smartcomment-hl-'], *[data-comment-id] {
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  background: #ffffe0; /*blue=#e0ffff; green=#e0ffe0; red=#ffe0e0; yellow=#ffffe0*/
  padding:0 2px;
  z-index:2 !important;
  box-shadow: 0 0 1px #000;
  &.active {
    background: #b4f3ff;
  }
  &.image {
    .sc-dynamic-block {
      &:before {
        background: #ffffe0bf;
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        &:hover {
          background: lightyellow;
        }
      }
    }
  }
}

svg a[class^='smartcomment-hl-'].active rect.sic-scam-text-bg, svg a[class^='smartcomment-hl-']:hover rect.sic-scam-text-bg {
  fill: #b4f3ff;
}

.sic-timeline-container {
  position: absolute;
  top: 0;
  right: -1.5em;
  width: 2px;
  height: 100%;
}

.sic-timeline-item {
  background-color: #ffffe0;
  text-align: center;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, .4);
  padding: 0px 5px 0;
  &.broken {
    background-color: #ffe0e0;
  }
  &:hover {
    background: #b4f3ff;
    cursor: pointer;
    z-index: 9;
    svg {
      filter: none;
    }
  }
  svg {
    pointer-events: none;
    filter: opacity(0.5);
    border-radius: 0.25em;
    border: 1px solid black;
  }
}

.sic-timeline-item-hasreplies {
  background-color: #90ee90;
}

.sic-timeline-item-hover {
  background: #fff;
  padding: .5em;
  h2 {
    font-size: 1em;
    border-bottom: 0;
    max-width: 500px;
  }
  img {
    border: 1px solid #ccc;
  }
}

.sic-active-item {
  color: #000;
  background: #ffffe0;
  border: 1px solid rgba(0,0,0,0.2);
}

.sic-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

img.sic-selected-content {
  border-bottom: 2px solid rgba(0,0,0,0.1);
  width: calc( 100% + 2em );
  margin: -.5em -1em 1em;
}

.sc-enabled .sc-dynamic-block {
  position: relative !important;
  display: inline-block;
  &::after {
    clear: both;
    content: ' '
  }
  &.active {
    border: 3px dotted green;
    background: rgba(12,255,0,0.5);
  }
  &.hover::before {
    content: "" !important;
    display: flex;
    position: absolute;
    width: calc(100% - 0.5em);
    height: 100%;
    border: 3px dotted green;
    background: rgba(12,255,0,0.5);
    cursor: pointer;
    font-weight: bold;
    z-index: 9;
    color: #000000;
    text-shadow: 1px 1px white;
    font-size: 1.2em;
    justify-content: flex-end;
    padding-right: 0.5em;
  }
}

.sc-enabled *[class^="smartcomment-hl-"] > .sc-dynamic-block {
  &::before {
    content: " " !important;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0.5);
    border: 3px dotted green;
    background: rgba(12, 255, 0, 0.1);
  }
}

.sc-debug { color: red; }

.sc-relative {
  position: relative;
  overflow: unset !important;
}

div#sic-popup {
  display: block !important;
  z-index:99;
  .oo-ui-popupWidget-body-padded {
    margin-top:10px;
    min-height: 43px !important;
    overflow: hidden !important;
  }
}

div.sic-unlocalized-comments.hidden { display: none; }
div.sic-unlocalized-comments {
  border: 1px solid red;
  padding: 0.5em;
  background: #fee;
  margin-top: 1em;
  span.missing {
    font-weight: bold;
    display: block;
  }
  .hidden {
    display: none;
  }
}

.sc-active {background: #f6c343 !important;}

.sc-group-main {font-size: 85%;}

.smartcomment-unlocalized {padding-right: 5px;}

#sc-wm {
  textarea {
    height: 125px;
  }
}

div#mw-content-text {
  position: relative;
}

.smartcomment-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 310px;
  overflow:hidden;
  overflow-y: auto;
  background:#fff;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;

  > .oo-ui-panelLayout-framed {
    border: none;
    border-top: none !important;
  }
}

div.smartcomment-commentgroup {
  position: relative;
  background-color: #fff;
  z-index: 3;
  width: 100%;
  border-left:3px solid #f6c343 !important;
  height: 100%;
  right: -500px;
  border-top:1px solid #ccc !important;

  .oo-ui-toolbar-position-top {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  > div.oo-ui-toolbar > div.oo-ui-toolbar-bar {
    background-color: #ffe;
  }
  
  > div.sic-container {
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 61px);

    hr {
      margin: .5rem 0 1rem 0;
      color: #e6e6e6;
    }

    /*p {
      margin: 0 0 10px;
      -moz-box-shadow: inset 0 0 10px #f3f3f3;
      -webkit-box-shadow: inset 0 0 10px #f3f3f3;
      box-shadow: inset 0 0 10px #f3f3f3;
      padding: .5rem;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
    }
  */
    div.smartcomment-comment, div.smartcomment-comment-reply {
      padding: 1em .5em !important;
      div.meta {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-end;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 5px;
        padding-top: .5em;
        h5 {
          width: 58%;
          font-weight: bold;
          color: #0070ff;
          margin: 0;
        }
        span.date {
          width: 42%;
          text-align: right;
          font-size:1em;
          color: #999;
        }
      }
      div.comment {
        padding:5px 0;
      }
    }

    div.smartcomment-reply {
      margin-top: 1em;
      margin-bottom: -0.35em;
      fieldset {
        background: #f9f9f9 !important;
        margin: -2em -3em !important;
        padding: 1em !important;
        border-top: 1px solid #ccc;
      }
    }

    div.smartcomment-comment {
      margin: -1em;
      background: #ffffee;
      padding: .5em 1em 1em;
      border-bottom: 1px solid #c3c30e;
    }

    div.smartcomment-comment-reply {
      border-bottom: 1px solid #cecece;
      margin: -1em;
    }
  }

}

div.smartcomment-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 1rem;
  right: 0;
  cursor: pointer;
}

/* Special page styling */
.sic-sp-admin-buttons > div > div.oo-ui-fieldLayout {
  margin-top: 4px !important;
}

form.sic-sp-admin-buttons {
  display: block !important;
}

span.sic-sp-admin-buttons {
  button {
    span.oo-ui-labelElement-label {
      font-size: 0.9em !important;
    }
  }
}

fieldset.sic-sp-admin-buttons {
  background-color: transparent !important;
  margin-top: 15px;

  > legend {
    display: none !important;
  }

  > div.oo-ui-fieldsetLayout-group {
    display: flex !important;
  }

  > div.oo-ui-fieldsetLayout-group > div {
    margin-right: 10px !important;
    margin-bottom: 20px !important;
  }
}

span#sic-sp-display-count {
  padding-left: 5px;
  padding-right: 5px;
}

/* Fix table layput for portland skin */
td.sic-sp-filter {
  padding-right: 25px;
}

td.sic-sp-filter select {
    display: inline-block;
    width: auto;
}

#sic-sp-button-delete-completed {
  margin-right: 6px;
}

table.sic-tb-allcomments {
  display: table !important;

  th {
    display: revert !important;
  }
}

.sic-sp-rw > td {
  vertical-align: top;
}

/* Vector specific */
body.skin-vector {
  .mw-body {
    position: relative;
  }
  div.smartcomment-panel {
    div.smartcomment-commentgroup div.sic-container {
      width: 89% !important;
      border-top: 1px solid #ccc;
    }
    div.smartcomment-commentgroup > div.sic-container div.smartcomment-reply fieldset{
      margin: -1em -2.3em -2em !important;
    }
    .sc-broken {
      img {
        margin: -1em -1em 1em -1em;
        width: calc( 100% + 2em);
        border-bottom: 2px solid #efefef;
      }
    }
  }
  #vanillatoasts-container {
    z-index: 10;
    .vanillatoasts-toast {
      span.close {
        position: absolute;
        right: 1em;
        top: 1em;
      }
    }
  }
}

div.sc-disable-commenting {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,.9);
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index:10;
  a {
    color: #fff;
    font-weight: bold;
  }
}

/** Toasts notification styling **/
#vanillatoasts-container {
  position: fixed !important;
  padding-top: 2em;
  padding-right: 0;
  .vanillatoasts-toast {
    padding: 1em !important;
    background: #fffe8f !important;
    h4 {
      margin-top: 0 !important;
      padding-top: 0;
      color: black !important;
      font-size:1.2em;
    }
    p {
      color: #000;
      padding-top:.5em;
      a {
        text-decoration: underline !important;
        font-weight: bold;
        color: darkblue !important;
      }
    }
  }
  .vanillatoasts-error {
    background: #ffebeb !important;
  }
}

body.skin-HetWaterschapshuis {
  #vanillatoasts-container {
    z-index: 99;
  }
  .smartcomment-panel {
    z-index: 99;
  }
  div.smartcomment-commentgroup > div.sic-container {
    padding: 1em;
    h5 {
      font-size: 1.1em;
    }
  }
  div.smartcomment-commentgroup > div.sic-container div.smartcomment-reply fieldset {
    margin: -2em -2em !important;
  }
}

body.skin-Chicago {
  .smartcomment-panel {
    right: calc(1.2em + 1px);
    .sic-container.sc-plh {
      overflow-x: hidden;
    }
  }
}

body.skin-gemmaonline {
  div.smartcomment-commentgroup > div.sic-container div.smartcomment-reply {
    margin-top: 1em;
    margin-bottom: -0.1em;
    margin-left: 0.5em;
    margin-right: 0.8em;
  }
}
